.dat{
    text-align: center;
    margin-top: 1rem;
}
.dat font{
    padding: 5px;
    
    background: tomato;
}
.b{
    width: 20rem;
    margin: 2rem 0;
}
.cont{
    display: flex;
    flex-wrap: wrap;
}
.error_in{
    display: none;
}
.error_vi{
    color: tomato;
    display: inline;
}

@media(max-width:1000px){
    .pddin{
        padding: 5px;
    }
    img{
        max-width: 95%;
        height: auto;
    }
}